<html lang="en">

  <% upvoted = Plug.Conn.get_session(@conn, :upvoted) %>
  <% upvoted = if is_nil(upvoted), do: [], else: upvoted %>
<article class="posts">

<section>
<div class="post">




<div class="title-category-publisher">

<h2 class="index_title1"> <%= @post.title %> </h2> 
<div class="category_publisher">
<span class="category_1"> <div class="category-hidden"> <%= @post.category %> </div> <%= Utils.trim_text(@post.category, 10) %>  </span>
<span class="category_2">  <%= @post.publisher %> <%= @post.inserted_at%> </span>
</div>




<div class="code-toolbar">
<pre class="language-elixir">
<code class="elixir language-elixir">
<%= raw(Earmark.as_html!(@post.body)) %>
</code>
</pre>
</div>

<div class="counter">  
   <%= if Enum.any?(upvoted, fn x -> x == @post.id end) do %>
   <span class="upvoted">Upvoted <%= @post.upvotes %></span>
   <% else %>
    <%= link "Upvote", to: Routes.page_path(@conn, :upvote, @post) %>
    <% end %>
    
    <span class="counter1">Views <%= @post.view_counter %> </span>
   </div>





</section>
</article>

</html>

